{% load static %}
<div class="footer">
    <div class="heading">
        <p class="text">Copyright &copy; <span id="year"></span> 
            <script>
             document.getElementById("year").innerHTML = (new Date().getFullYear());
            </script>
            Oranig-Shop. All right reserved.
        </p>
    </div>
    <div class="footer-container">
        <div class="social-link">
            <ul class="unorder-list">
                <li class="option">
                    <span class="material-symbols-outlined icon-design">mail</span> 
                    customer-query@organic.com
                </li>
                <li class="option">
                    <span class="material-symbols-outlined icon-design">call</span> 
                    (93) (0) 20 257 0195
                </li>
                <li class="option">
                    <span class="material-symbols-outlined icon-design">flag</span> 
                    Area No.06, Kabul, Afghanistan
                </li>
            </ul>
        </div>
        <div>
            <img src="{% static 'image/logo.png' %}" class="logo-image-footer" alt="">
        </div>
        <div class="menu-list">
            <ul class="unorder-list">
                <li class="option"><span class="material-symbols-outlined icon-design">
                    lightbulb
                    </span>About Us</li>
                <li class="option"><span class="material-symbols-outlined icon-design">
                    phone_forwarded
                    </span> Contact Us</li>
                <li class="option"><span class="material-symbols-outlined icon-design">
                    add_shopping_cart
                    </span> Shop Now</li>
            </ul>
        </div>
        
    </div>
</div>