{% load static %}
<div class="footer">
    <div class="grid-container">
        <div class="social-link">
            <ul class="unorder-list">
                <li class="option">
                    customer-query@organic.com
                </li>
                <li class="option">
                    (93) (0) 20 257 0195
                </li>
                <li class="option">
                    Area No.06, Kabul, Afghanistan
                </li>
            </ul>
        </div>
        <div class="image-holder">
            <img src="{% static 'image/logo.png' %}" class="logo-image-footer" alt="">
            <div class="heading">
                <p class="text">Copyright &copy; <span id="year"></span> 
                    <script>
                     document.getElementById("year").innerHTML = (new Date().getFullYear());
                    </script>
                    Oranig-Shop. All right reserved.
                </p>
            </div>
        </div>
        <div class="menu-list">
            <ul class="unorder-list">
                <li class="option">About Us</li>
                <li class="option"> Contact Us</li>
                <li class="option"> Shop Now</li>
            </ul>
        </div>
        
    </div>
</div>