    
<div class="nav border shadow">
    <div class="grid grid-cols-2">
        <div class="">
            {% load static %}
            <img src="{% static 'image/logo.png' %}" class=" mx-3 w-24 h-16" alt="">
            <small class="mx-3">SHOPPING MART</small>
        </div>
        <div class="lg:block sm:hidden pt-6 text-lg text-end me-5">
            {% if user.is_authenticated %}
                <a class="mx-5 inline-block hover:font-bold cursor-pointer relative px-4" href="{% url 'store:cart_item' %}">
                    <!-- component -->
                    <div class="t-0 absolute right-0">
                        <p class="flex h-2 w-2 items-center justify-center rounded-full bg-red-500 p-2 text-xs text-white" id="item_count">
                        </p>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="mt-3 w-8 h-8">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                    </svg>
                </a>
                <a href="{% url 'store:purchase' %}" class="mx-5 inline-block hover:font-bold cursor-pointer"><i class="fa-solid fa-cart-plus"></i>&nbsp;Purchase</a>
                <a class="mx-5 inline-block hover:font-bold cursor-pointer" href="{% url 'store:sales' %}"><i class="fa-solid fa-cart-shopping"></i>&nbsp;Sales</a>
                <a class="mx-5 inline-block hover:font-bold cursor-pointer" href="{% url 'store:product' %}"><i class="fa-solid fa-box-open"></i>&nbsp;Products</a>
                <a class="mx-5 inline-block hover:font-bold cursor-pointer" href="{% url 'store:stock' %}"><i class="fa-solid fa-layer-group"></i>&nbsp;Manage Stock</a>
                <a class="mx-5 inline-block hover:font-bold cursor-pointer" href="{% url 'store:signout' %}"><i class="fa-solid fa-user-minus"></i>&nbsp;Logout</a>
                
            {% else %}
                <a class="inline-block mx-5 hover:font-bold cursor-pointer" href="{% url 'store:signin' %}">Sign In&nbsp;<i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                <a class="inline-block mx-5 hover:font-bold cursor-pointer" href="{% url 'store:signup' %}">Sign Up&nbsp;<i class="fa-solid fa-user-plus"></i></a>
            {% endif %}
        </div>
        <div class="sm:block text-end cursor-pointer md:block pt-6 lg:hidden">
            <i class="fa-solid fa-ellipsis-vertical px-3 text-2xl" id="btn_click"></i>
        </div>
    </div>
</div>

<div class="py-5 hidden" id="toggleMenu">
    {% if user.is_authenticated %}
    <ul>
    <li class="py-2 mx-5 hover:font-bold cursor-pointer "><a href="{% url 'store:cart_item' %}">
        <i class="fa-solid fa-bag-shopping"></i>&nbsp;My Cart&nbsp;
        <small id="item_count_mobile" class="rounded mx-3 px-2 py-px bg-teal-500 text-white"></small>
    </a></li>
    <li class="py-2 mx-4 hover:font-bold cursor-pointer"><a href="{% url 'store:purchase' %}">&nbsp;<i class="fa-solid fa-cart-plus"></i>&nbsp;Purchase</a></li>
    <li class="py-2 mx-5 hover:font-bold cursor-pointer"><a href="{% url 'store:sales' %}"><i
                class="fa-solid fa-cart-shopping"></i>&nbsp;Sales</a></li>
    <li class="py-2 mx-5 hover:font-bold cursor-pointer"><a href="{% url 'store:product' %}"><i
                class="fa-solid fa-box-open"></i>&nbsp;Products</a></li>
    <li class="py-2 mx-5 hover:font-bold cursor-pointer"><a href="{% url 'store:stock' %}">
            <i class="fa-solid fa-layer-group"></i>&nbsp;Manage Stock</a></li>
    <li class="py-2 mx-5 hover:font-bold cursor-pointer"><a href="{% url 'store:signout' %}"><i
                class="fa-solid fa-user-minus"></i>&nbsp;Log out</a></li>
    {% else %}
    <li class="py-2 mx-5 hover:font-bold cursor-pointer"><a href="{% url 'store:signin' %}"><i
                class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;Sign In</a></li>
    <li class="py-2 mx-5 hover:font-bold cursor-pointer"><a href="{% url 'store:signup' %}"><i
                class="fa-solid fa-user-plus"></i>&nbsp;Sign Up</a></li>
    </ul>
    {% endif %}
    <script>
        const event = document.querySelector("#btn_click");
        const el = document.querySelector("#toggleMenu");
        event.addEventListener("click", function () {
            if (el.classList.contains("hidden")) {
                el.classList.remove("hidden");
                el.classList.add("block");
            } else {
                el.classList.add("hidden");
            }
        });
    </script>
</div>
