<div class="">
    <div class="heading text-4xl text-center">
        <h1>Update Stock</h1>
    </div>
    <div class="item-information">
        <div class=" text-center">
            <form action="{% url 'store:stock' %}" method="POST" class=" w-full flex justify-center p-5">
                {% csrf_token %}
                <input type="text" name="search" id="search" class="focus:outline-none border-b border-sky-400 w-1/2 rounded focus:border-red-400 p-2" placeholder="Search item...">
                <button><i class="fa-solid fa-magnifying-glass bg-gray-300 rounded-full p-2 hover:font-bold hover:bg-teal-400 hover:text-white"></i></button>
            </form>
            <p class="text-gray-500">Use search bar to find the product quickly...<i class="fa-solid fa-face-smile-wink"></i></p>
        </div>
        <div class="absolute top-1/2 left-1/2" id="modal-dialog">
            <div class="border bg-white p-10 rounded shadow-2xl z-20">
                <p class="text-center font-bold">Update Stock</p>
                <form action="{% url 'store:update_stock' %}" method="POST">
                    {% csrf_token %}
                    <p>Available Stock: <strong id="stock_info"></strong>
                    </p>
                    <label for="new_stock">Add to stock</label>
                    <input type="number" min="0" name="new_stock" id="new_stock" class="p-2 w-full border border-sky-500 focus:outline-none focus:border-red-500 rounded" placeholder="Enter the new stock">
                    <input type="number" name="item_id" id="item_id" hidden>
                    
                    <p class="mt-0pt-0">
                        <span class="text-sm">New Stock: </span>
                        <span class="text-cyan-500 font-bold" id="updated_stock"></span>
                    </p>
                    <button type="submit" class="bg-teal-500 text-white py-2 px-4 hover:bg-teal-700 hover my-3 text-center rounded shadow hover:font-semibold">Add</button>
                    <button id="close-container" type="button"
                    class="bg-red-500 text-white py-2 px-4 hover:bg-red-700 hover my-3 text-center rounded shadow hover:font-semibold">Close</button>
                </form>
            </div>
        </div>
        <p class="text-blue-400 mx-5"><i class="fa-solid fa-circle-info"></i>&nbsp;Please select the product to update the stock</p>
        <div class="data-contain m-5">
            <table class="table-auto w-full">
                <thead class="bg-teal-500 text-white font-semibold text-md">
                    <th class="py-3 rounded">Image</th>
                    <th class="py-3">Name</th>
                    <th class="py-3">Description</th>
                    <th class="py-3">Category</th>
                    <th class="py-3">Rate</th>
                    <th class="py-3">Price</th>
                    <th class="py-3">Profit</th>
                    <th class="py-3">Bulk Price</th>
                    <th class="py-3">Packet</th>
                    <th class="py-3">MF Date</th>
                    <th class="py-3">Exp Date</th>
                    <th class="py-3 rounded">Stock</th>
                </thead>
                <tbody class="text-sm text-center">
                    {% for item in product %}
                    
                    <tr id="visible-content" data-stateName="{{item.id}}" data-stateId="{{item.stock}}"
                        class="hover:bg-gray-100 hover:font-semibold cursor-pointer border">
                    
                    <td class="p-2"><img src="{{item.image.url}}" class="w-20 h-20 rounded-full" alt=""></td>
                    <td class="p-2">{{item.name}}</td>
                    <td class="p-2">{{item.description}}</td>
                    <td class="p-2">{{item.category}}</td>
                    <td class="p-2">{{item.rate}}&nbsp;<i class="fa-solid fa-dollar-sign"></i></td>
                    <td class="p-2">{{item.price}}&nbsp;<i class="fa-solid fa-dollar-sign"></i></td>
                    <td class="p-2">{{item.profit}}&nbsp;<i class="fa-solid fa-dollar-sign"></i></td>
                    <td class="p-2">{{item.bulk_price}}&nbsp;<i class="fa-solid fa-dollar-sign"></i></td>
                    <td class="p-2">{{item.packet}}</td>
                    <td class="p-2">{{item.mfd}}</td>
                    <td class="p-2">{{item.expd}}</td>
                    <td class="p-2">{{item.stock}}</td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>

    
    
    </div>
</div>
<script>
    element=document.getElementById("new_stock");
    element.addEventListener("input", function(e) {
    var n = e.target.value;
    var o = document.getElementById("stock_info").innerHTML;
    var new_stock = Number(n) + Number(o);
    document.getElementById("updated_stock").innerHTML = new_stock;
    });
    $(document).ready(function() {
        $("#visible-content[data-stateName]").click(function() {
           $("#modal-dialog").animate({
            height:'toggle'
           });
           var id = $(this).attr("data-stateName");
           var s = $(this).attr("data-stateId");
           document.getElementById("stock_info").innerHTML = s;
           document.getElementById("item_id").value = id;
        });
    });
    $(document).ready(function () {
        $("#close-container").click(function () {
            $("#modal-dialog").animate({
                height: 'toggle'
            });
        });
    });
    
</script>