{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="main-page">
    <div class="heading">
        <h1 class="title">Update Product</h1>
        <p class="text">update the details belongs to the product</p>
    </div>
        <form action="{% url 'store:purchase' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="grid-container">
                <div class="product-info">
                    <label class="form-label">{{form.name.label_tag}}</label>
                    {{form.name}}
                    {{form.name.errors}}
                    <label class="form-label">{{form.code.label_tag}}</label>
                    {{form.code}}
                    {{form.name.errors}}
                    <label class="form-label">{{form.description.label_tag}}</label>
                    {{form.description}}
                    {{form.description.errors}}
                </div>
                <div class="product-price">
                    <label class="form-label">{{form.category.label_tag}}</label>
                    {{form.category}}
                    {{form.category.errors}}
                    <label class="form-label">{{form.packet_contain.label_tag}}</label>
                    {{form.packet_contain}}
                    {{form.packet_contain.errors}}
                    <label class="form-label">{{form.num_packet.label_tag}}</label>
                    {{form.num_packet}}
                    {{form.num_packet.errors}}
                   
                </div>
                <div class="option-info">
                    <label class="form-label">{{form.price.label_tag}}</label>
                    {{form.price}}
                    {{form.price.errors}}
                    <label class="form-label">{{form.bulk_price.label_tag}}</label>
                    {{form.bulk_price}}
                    {{form.bulk_price.errors}}
                    {{form.image}}
                    {{form.image.errors}}
                </div>
                <div class="extra-info">
                    <label class="form-label">Available in {{form.stock.label_tag}}</label>
                    {{form.stock}}
                    <small>
                        <i class="fa-regular fa-lightbulb" style="color: orange;"></i>
                        Enter the number of product to be added in stock.
                    </small>
                    {{form.stock.errors}}
                </div>
            </div>
            <div class="purchase-button">
                <button type="submit" class="btn">Update Product</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}