{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="purchase-page">
    <div class="heading">
        <h1 class="title">Update Product</h1>
        <p class="text">update the details belongs to the product</p>
    </div>
    <div class="purchase-holder">
        <div class="calculation-container">
            <div>
                <strong>Rate: $ <span id="rate"></span></strong>
            </div>
            <div>
                <strong>Profit Per Item: $ <span id="profit-per-item"></span></strong>
            </div>
            <div>
                <strong>Profit Per Packet/Package: $ <span id="profit-per-packet"></span></strong>
            </div>
        </div>
        <form action="{% url 'store:purchase' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-fields">
                <div class="product-info">
                    <label class="form-label">{{form.name.label_tag}}</label>
                    {{form.name}}
                    {{form.name.errors}}
                    <label class="form-label">{{form.description.label_tag}}</label>
                    {{form.description}}
                    {{form.description.errors}}
                    <label class="form-label">{{form.category.label_tag}}</label>
                    {{form.category}}
                    {{form.category.errors}}
                </div>
                <div class="product-price">
                    <label class="form-label">{{form.quantity.label_tag}}</label>
                    {{form.quantity}}
                    {{form.quantity.errors}}
                    <label class="form-label">{{form.packet.label_tag}}</label>
                    {{form.packet}}
                    {{form.packet.errors}}
                    {{form.image}}
                    {{form.image.errors}}
                </div>
                <div class="option-info">
                    <label class="form-label">{{form.price.label_tag}}</label>
                    {{form.price}}
                    {{form.price.errors}}
                    <label class="form-label">{{form.bulk_price.label_tag}}</label>
                    {{form.bulk_price}}
                    {{form.bulk_price.errors}}
                </div>
                <div class="extra-info">
                    <label class="form-label">{{form.mfd.label_tag}}</label>
                    {{form.mfd}}
                    {{form.mfd.errors}}
                    <label class="form-label">{{form.expd.label_tag}}</label>
                    {{form.expd}}
                    {{form.expd.errors}}
                </div>
            </div>
            <div class="purchase-button">
                <button type="submit" class="btn">Update Product</button>
            </div>
        </form>
    </div>
</div>

<script>
    const numberData = document.querySelectorAll("input[type=number]");
    let quantity = 0;
    let packet = 0;
    let price = 0;
    let bulk_price = 0;
    numberData.forEach(element => {
        element.addEventListener("input", ()=>{
            if(element.id == "id_quantity"){
            quantity = element.value;
           } else if(element.id == "id_packet"){
            packet = element.value;
           } else if (element.id == "id_price"){
            price = element.value;
           } else if (element.id == "id_bulk_price"){
            bulk_price = element.value;
           }
           fetchData(price,quantity,bulk_price,packet);
        });
    });
    function fetchData(price,quantity,bulk_price,packet){
        if(quantity != null && price != null && packet != null && bulk_price != null ){
        document.getElementById("rate").innerHTML = roundOff((bulk_price / quantity),3);
        document.getElementById("profit-per-item").innerHTML = roundOff((price - (bulk_price/quantity)),3);
        document.getElementById('profit-per-packet').innerHTML = roundOff(((price*quantity) - bulk_price),3);
    }
    }
    function roundOff(num,decimal){
        const f =Math.pow(10,decimal);
        return Math.round(num*f)/f;
    }
</script>
{% endblock content %}