{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="text-center text-4xl my-10">
        <h1>UPDATE PRODUCT</h1>
    </div>
   
    <form action="">
        {% csrf_token %}
    <div class="grid lg:grid-cols-3 sm:grid-cols-1">
        <div class="border-r ">
            <div class="p-10">
                <img src="{{item.image.url}}" class="w-full h-full" alt="">
                <label class="block mt-2" for="image">Choose the product image</label>
                <input type="file" name="image" id="image" 
                class="border rounded w-60 me-10 file:bg-red-500 file:text-white file:rounded-full file:shadow-lg file:hover:bg-red-700 file:hover:font-semibold file:p-2 file:border-none">
                <button class="bg-teal-500 text-white py-2 px-5 rounded shadow hover:bg-teal-700 hover:font-semibold">Update</button>
            </div>
        </div>
        <div class="middle">
            <div class="p-10">
                <p class="text-center text-2xl font-bold">Item details</p>
                
                    <label for="name">Product Name</label>
                    <input type="text" name="name" id="name" value="{{item.name}}" class=" mb-4 border-b focus:outline-none focus:border-sky-500 p-2 rounded w-full font-semibold">
                    <label class="" for="description">Product Description</label>
                    <input type="text" name="description" id="description" value="{{item.description}}"
                        class="mb-4 border-b mb-4 focus:outline-none focus:border-sky-500 p-2 rounded w-full font-semibold">
                    <label class="mt-2" for="category">Product category</label>
                    <select name="category" id="category" class=" border border-sky-500 rounded focus:outline-none focus:border-sky-500 p-2 block w-full font-semibold">
                        <option selected value="{{item.category}}">{{item.category}}</option>
                        {% for val in cat %}
                            <option value="{{val.id}}">{{val.name}}</option>
                        {% endfor %}
                    </select>
                    <label class="" for="rate">Product rate</label>
                    <input type="number" name="rate" id="rate" value="{{item.rate}}"
                        class="border-b mb-4 focus:outline-none focus:border-sky-500 p-2 rounded w-full font-semibold">
                    <label class="" for="price">Product price</label>
                    <input type="number" name="price" id="price" value="{{item.price}}" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency"
                        class="border-b mb-4 focus:outline-none focus:border-sky-500 p-2 rounded w-full font-semibold">
                    <label class="" for="profit">Product profit</label>
                    <input type="number" name="profit" id="profit" value="{{item.profit}}"
                        class="border-b mb-4 focus:outline-none focus:border-sky-500 p-2 rounded w-full font-semibold">
                    <label class="block" for="num_packet">How many packets</label>
                    <select name="num_packet" id="num_packet" class=" border-sky-500 border mb-4 focus:outline-none focus:border-sky-500 p-2 rounded w-full font-semibold">
                        {% for num in num_packet %}
                            <option value="{{num}}">{{num}}</option>
                        {% endfor %}
                    </select>
                    <label class="" for="packet_content">Packet contains</label>
                    <input type="number" name="packet_content" id="packet_content" value="{{item.packet}}"
                        class="border-b mb-4 focus:outline-none focus:border-sky-500 p-2 rounded w-full font-semibold">
                    <label class="" for="quantity">Product Quantity</label>
                    <input type="number" name="quantity" id="quantity"
                        class="border-b mb-4 focus:outline-none focus:border-sky-500 p-2 rounded w-full font-semibold">
                    
                    <label class="" for="bulk_price">Product Bulk Price</label>
                    <input type="number" name="bulk_price" id="bulk_price" value="{{item.bulk_price}}"
                        class="border-b mb-4 focus:outline-none focus:border-sky-500 p-2 rounded w-full font-semibold">
                    {% if item.mfd != none %}
                        <label class="" for="mfd">Product MFD</label>
                        <input type="date" name="mfd" id="mfd" value="{{item.mfd|date:'Y-m-d'}}"
                            class="border-b mb-4 focus:outline-none focus:border-sky-500 p-2 rounded w-full font-semibold">
                        <label class="" for="expd">Product EXPD</label>
                        <input type="date" name="expd" id="expd" date="{{item.expd|date:'Y-m-d'}}"
                            class="border-b mb-4 focus:outline-none focus:border-sky-500 p-2 rounded w-full font-semibold">
                    {% endif %}
                    
                    
                    <label class="" for="stock">Product stock</label>
                    <input type="number" name="stock" id="stock" value="{{item.stock}}" disabled
                        class="border-b mb-4 focus:outline-none focus:border-sky-500 p-2 rounded w-full font-semibold">
            </div>
        </div>
        <div class="side"></div>
    </div>
    </form>
</div>
<script>
    el = document.getElementById("quantity");
    var s = document.getElementById("stock").value;
    el.addEventListener("input", function(e) {
        
        var q = e.target.value;
        p = Number(s) + Number(q);
        document.getElementById("stock").value = p;
    });

    ele = document.getElementById("bulk_price");
    var b = document.getElementById("bulk_price").value;
    ele.addEventListener("input", function(e) {

    });

    elem = document.getElementById("num_packet");
    elem.addEventListener("change", function(e) {
        var n = e.target.value;
        var c = document.getElementById("packet_content").value;
        document.getElementById("quantity").value = n*c;
        var s = document.getElementById("stock").value;
        var num = n*c;
        var new_stock = Number(s)+Number(num);
        document.getElementById("stock").value = new_stock;
    });
</script>
{% endblock content %}