{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
        <!-- SYSTEM MESSAGES START -->
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == "success" %}
        <div id="show" class="absolute text-center m-4 right-1/4 left-1/4 top-20 py-2 px-4 z-40 shadow border border-green-600 bg-green-100 text-green rounded-full">
            <p class="inline-block"><span class="font-bold">Message: </span>{{message}}</p>
            <p class="float-right cursor-pointer px-3 text-red-500 inline-block" role="close" onclick="closing()"><i class="fa-solid fa-xmark"></i></p>
                    <script>
                        setTimeout(() => {
                            document.getElementById("show").style.display = 'none';
                        }, 3000);

                        function closing() {
                            document.getElementById("show").style.display = 'none';
                        }
                    </script>
        </div>
        {% elif message.tags == 'error' %}
        <div id="show" class="absolute text-center m-4 right-1/4 left-1/4 top-20 py-2 px-4 z-40 shadow border border-red-600 bg-red-100 text-red rounded-full">
            <p class="inline-block"><span class="font-bold">Error: </span>{{message}}</p>
            <p class="float-right cursor-pointer px-3 text-red-500 inline-block" role="close" onclick="closing()"><i class="fa-solid fa-xmark"></i></p>
            <script>
                setTimeout(() => {
                    document.getElementById("show").style.display = 'none';
                }, 3000);

                function closing() {
                    document.getElementById("show").style.display = 'none';
                }
            </script>
        </div>
                

        {% endif %}
        {% endfor %}
        {% endif %}
        
        <!-- SYSTEM MESSAGES END -->
    {% include 'includes/navbar.html' %}

    {% block content %}
    {% endblock content %}
    {% include 'includes/footer.html' %}
</body>

</html>