{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../../static/css/style.css">

</head>
<body>
    {% include 'includes/navbar.html' %}
    <!-- SYSTEM MESSAGES START -->
    {% if messages %}
    {% for message in messages %}
    <div class="system-message">
        <div class="{{message.tags}}">
            <strong>{{message.tags}}: </strong>
            <span>{{message}}</span>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <!-- SYSTEM MESSAGES END -->

    {% block content %}
    {% endblock content %}
    {% include 'includes/footer.html' %}
</body>

</html>