{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    {% include 'includes/navbar.html' %}
    <!-- SYSTEM MESSAGES START -->
    {% if messages %}
    {% for message in messages %}
    <div class="system-message">
        <div class="{{message.tags}}">
            <strong>{{message.tags}}: </strong>
            <span>{{message}}</span>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <!-- SYSTEM MESSAGES END -->
    {% if user.is_authenticated %}
    <div class="main-page-container">
        <div class="breadcrumbs-nav-panel">
            <div class="holder">
                <ul class="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    {% block breadcrumb_li %}{% endblock breadcrumb_li %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}

    {% block content %}
    {% endblock content %}
    {% include 'includes/footer.html' %}
</body>

</html>