.detail-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}
.table{
    overflow-x: auto; /* Enables horizontal scrolling */
    font-size: 12px;

}

table {
    width: 90%;/* Full width */
    border-collapse: collapse; /* Remove space between borders */

}

th, td {
    padding: 3px; /* Space around content */
    text-align: left; /* Align text to the left */
    border: 1px solid #ddd; /* Light border */

}

th {
    background-color: #f4f4f4; /* Light grey background */
}

