// Breakpoints
$breakpoint-mobile: 0px;      // Mobile devices
$breakpoint-tablet: 768px;    // Tablets
$breakpoint-desktop: 1024px;  // Desktops
$breakpoint-large: 1440px;    // Large screens
$base-color:white;
$light-gray: #E9EAEC;
$gradient-pink: #ff4081; // Vibrant Pink
$gradient-orange: #ffab40; // Deep Orange
$body-height:80vh;
$primary:#0d6efd;
$marron-color: #ff6600;
$danger: rgb(255, 236, 236);
$success: rgb(236, 255, 236);

// Mixin for media queries
@mixin respond-to($breakpoint) {
    @if $breakpoint == mobile{
      @media (max-width: $breakpoint-tablet) { @content; }
    } @else if $breakpoint == tablet {
      @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) { @content; }
    } @else if $breakpoint == mobile-tablet {
        @media (max-width: $breakpoint-desktop) { @content; }
    } @else if $breakpoint == desktop {
      @media (min-width: $breakpoint-desktop) and (max-width: $breakpoint-large) { @content; }
    } @else if $breakpoint == large {
      @media (min-width: $breakpoint-large) { @content; }
    }@else if $breakpoint == desktop-large {
        @media (min-width: $breakpoint-desktop) { @content; }
    }
  }



// Mixin for gradient text
@mixin gradient-text($color1, $color2) {
    background: linear-gradient(45deg, $color1, $color2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@mixin flex-col-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: $body-height;
}
@mixin btn-small{
  width: 4rem;
  height: 2rem;
  font-size: medium;
  color: white;
  border: none;
  border-radius: 2px;
  background-image:linear-gradient(45deg, $gradient-pink,$gradient-orange);
  transition: all 0.2s;
}