{% extends 'main/base.html' %}
{% load static %}
{% block content %}
{% load humanize %}
<div class="homepage">
    <div class="header-text">
        <h1 class="title">E-Commerce</h1>
        <p class="text">start to grow up you business and evaluate your daily work</p>
    </div>
    
    <div class="summary-details">
        {% if request.user.is_authenticated %}
        <div class="box-container">
            <p class="title">Today's sale value</p>
            {% if today.total_price__sum %} 
            <p class="text">$ {{today.total_price__sum}}</p>
            {% else %}
            <p class="text">$ 0 </p>
            {% endif %}
        </div>
        <div class="box-container">
            <p class="title">Today's Profit</p>
            {% if today.total_profit__sum %}
            <p class="text">$ {{today.total_profit__sum}}</p>
            {% else %}
            <p class="text">$ 0 </p>
            {% endif %}
        </div>
        <div class="box-container">
            <p class="title">Today's product Sold</p>
            {% if today.quantity__sum %}
            <p class="text">$ {{today.quantity__sum}}</p>
            {% else %}
            <p class="text"> 0 </p>
            {% endif %}
        </div>
        {% else %}
        <div class="btn-holder">
            <a class="btn-auth" href="{% url 'store:signin' %}">Sign In</a>
            <a class="btn-auth" href="{% url 'store:signup' %}">Get Start</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}