{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="contain m-10">
    <div class="heading p-5 text-2xl text-center">Cart Items</div>
    <div class="grid grid-cols-6">
        <div class="side"></div>
        <div class="border shadow-md col-span-4">
            <table class="table-auto w-full rounded">
                <thead class="text-xl font-bold bg-orange-500 text-white rounded">
                    <th class="p-4">Image</th>
                    <th class="p-4">Name</th>
                    <th class="p-4">Price</th>
                    <th class="p-4">Quantity</th>
                    <th class="p-4">Manage</th>
                </thead>
                <tbody class="cart_container text-center">
                    {% if products %}
                        {% for product in products %}
                        
                        <tr class="border cursor-pointer hover:bg-gray-200 tranistion duration-500 ease-in-out">
                            <td class="p-3"><img src="{{product.product.image.url}}" class="w-16 h-16 rounded-full" alt="image"></td>
                            <td class="p-3">{{product.product.name}}</td>
                            <td class="p-3"><span id="price">{{product.product.price}}</span>&nbsp;<i class="fa-solid fa-dollar-sign"></i></td>
                            <td class="p-3">
                                <input type="number" data-product-id="{{product.id}}" data-product-price="{{product.product.price}}"
                                    name="quantity" id="quantity" min="0" value="{{product.quantity}}" max="{{product.product.stock}}"
                                    class="text-center foucs:outline-none focus:border-sky-500 border border-teal-500 p-2 rounded">
                            </td>
                        
                            <td>
                                <a class="text-red-500 hover:font-bold hover:text-lg" href="{% url 'store:RemoveCartIem' product.id %}" id="parent">
                                        <i class="fa-solid fa-eraser"></i>
                                        <small class="text-red-500" id="hide-show">Remove</small>
                                </a>
                            </td>
                        </tr>
                        
                        {% endfor %}
                    {% else %}
                    <tr class="py-5">
                        <td colspan="5" class="py-10">
                            <div class="text-center text-gray-400">
                                <div class="flex justify-center">
                                    <img src="{% static 'image/empty_bag.svg' %}" class="p-0 m-0" alt="">
                                </div>
                                <p class=" pt-0 mt-0 text-2xl">
                                    Your cart is empty...!
                                </p>
                                <p class="text-cyan-500 hover:font-semibold ">
                                    <a href="{% url 'store:sales' %}">Shop Now
                                        <svg xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                            class="w-6 h-6 text-center inline-block">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 15l6-6m0 0l-6-6m6 6H9a6 6 0 000 12h3" />
                                        </svg>

                                    </a>
                                </p>
                            </div>
                        </td>
                    </tr>
                        
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="side"></div>
    </div>
    <div class="text-center p-5">
        {% if products %}
            <a href="{% url 'store:purchaseItem' %}">
                <button class="bg-teal-500 text-white rounded py-2 px-3 hover:bg-teal-600">Proceed to Purchase</button>
            </a>
        {% else %}
                <button type="button" class="bg-teal-300 text-white rounded py-2 px-3 " disabled >Proceed to Purchase</button>
        {% endif %}
        
    </div>
</div>
<script>
    const cartContainer = document.querySelector('.cart_container');
    cartContainer.addEventListener("input", function(e){
        quantity = e.target.value;
        cartItemId = e.target.dataset.productId;
        price = e.target.dataset.productPrice;
        total_price = price * quantity;

        console.log(total_price);
        const formData = new FormData();
        //FETCH API
        formData.append('quantity',quantity);
        formData.append('price',price);
        formData.append('cartItemId',cartItemId);
        formData.append('csrfmiddlewaretoken','{{csrf_token}}');
        console.log(formData);
        fetch('{% url "store:update_quantity" %}',{
            method: 'POST',
            body: formData
        }).then(response => response.json()).then(data =>{
            console.log("success:", data);
        }).catch(error => {
            console.log("Error: ",error);
        });
    });
</script>
{% endblock content %}