{% extends 'main/base.html' %}
{% load static %}
{% block breadcrumb_li %}
<li class="current">products</li>
{% endblock %}
{% block content %}
<div class="main-page-container">
    <div class="heading-holder">
        <div class="text-holder">
            <h2 class="text-title">All the Products</h2>
            <p class="subtitle">the list below display all the products details</p>
        </div>
        <div class="action-button">
            <a href="#" class="btn"><i class="fa-solid fa-plus"></i> Product</a>
            <a href="#" class="btn">Stock</a>
            <a href="#" class="btn">Update</a>
        </div>
    </div>
    {% if page_obj.object_list %}
    <div> 
        <table>
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Code</th>
                <th>Category</th>
                <th>Package Contain</th>
                <th>Purchase Package Price</th>
                <th>Purchase Total Price</th>
                <th>Package Sale Price</th>
                <th>Item Sales Price</th>
                <th>Total Items</th>
                <th>Manage</th>
            </thead>
            <tbody>
                {% for item in page_obj.object_list %}
                <tr>
                <td>
                    <img src="{{item.image.url}}" width="16" height="16" alt="">
                </td>
                <td>{{item.name}}</td>
                <td>{{item.code}}</td>
                <td>{{item.category}}</td>
                <td>{{item.package_contain}}</td>
                <td>{{item.package_purchase_price}}</td>
                <td>{{item.total_package_price}}</td>
                <td>{{item.package_sale_price}}</td>
                <td>{{item.item_sale_price}}</td>
                <td>{{item.total_items}}</td>
                <td class="manage-product">
                    <a href="{% url 'store:manage_product' 'edit' item.id %}">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    <a href="{% url 'store:manage_product' 'delete' item.id %}" 
                    onclick="return confirm('Are you sure you want to delete {{item.name}}?')">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <!-- paginator navigation button start -->
    <div class="paginator">
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">
            <small class="active-nav"><i class="fa-solid fa-angles-left"></i></small>
        </a>
        {% else %}
        <small class="not-active-nav"><i class="fa-solid fa-angles-left"></i></small>
        {% endif %}
        <span>Page
            <span class="active-page">{{page_obj.number}}</span> of
            <span>{{page_obj.paginator.num_pages}}</span>
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}" class="tooltip relative">
            <small class="active-nav"><i class="fa-solid fa-angles-right"></i></small>
        </a>
        {% else %}
        <small class="not-active-nav"><i class="fa-solid fa-angles-right"></i></small>
        {% endif %}
    </div>
    <!-- paginator navigation button end -->
    {% else %}
    <div class="empty-record">
        <h1 class="title">No Product Found</h1>
        <a href="{% url 'store:purchase' %}" class="active-link">Let's Purchase some</a>
    </div>
    {% endif %}
</div>

{% endblock content %}