{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="login">
        <div class="grid lg:grid-cols-3 sm:grid-cols-1">
        <div class="side"></div>
        <div class="main px-10 my-20">
        <form action="" method="POST" class="p-10 border border-gray-300 rounded-lg ">
            <h1 class="text-2xl text-center mt-5 mb-10">Reset Your Password</h1>
            {% csrf_token %}
            
            <label class="" for="username">Enter new Password</label>
            <input type="text" name="username" id="username" 
            class="mb-4 border-b p-2 border-teal-500 w-full focus:outline-none focus:border-sky-600" placeholder="New Password" required>
            <label class="" for="password">Confirm your password</label>
            <input type="password" name="password" id="password" 
            class="border-b p-2 border-teal-500 w-full focus:outline-none focus:border-sky-600" placeholder="Confirm Password" required>
            <p class="text-gray-600 text-sm pt-3"><i class="fa-solid fa-info text-teal-500 bg-gray-300 rounded-full py-1 px-2"></i>&nbsp;Please set a new unique password</p>
            <p class="text-gray-600 text-sm ml-5">&nbsp;Try to set a stron password containing letters(small, capital) numbers(0-9) and special symbol.</p>
            <div class="text-center my-5">
                <button class="bg-teal-500 text-white px-4 py-2 hover:font-bold hover:bg-teal-700 shadow mt-3 mb-5 ml-10">Reset</button>
            </div>
        </form>
        </div>
        <div class="side-right"></div>
        </div>
</div>
{% endblock content %}