{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="sales">
    <div class="grid lg:grid-row-2 m-5">
        <div class="">
        <h1 class="text-3xl text-center">Sales Portal</h1>
        
        <div class="flex justify-center">
        <form action="{% url 'store:sale_search' %}" method="POST" class="mt-5">
            {% csrf_token %}
            <input type="text" name="search" id="search" class="py-2 rounded border border-teal-400 w-96 focus:outline-none focus:border-cyan-500 px-3" placeholder="Enter the product name">
            <button type="submit" class="rounded-full border bg-teal-500 hover:bg-teal-700 hover:text-white px-3 py-2"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        </div>
        <p class="text-center text-slate-400 mb-10">To find the item quickly type the item name in the search input and press the search button</p>
    </div>
        <hr>
    <div class="px-20 py-10">
            <div class="grid lg:grid-cols-5 gap-4 sm:grid-cols-1 card_container" id="dataForm">
                <!-- shopping card -->
                {% for item in page_obj.object_list %}
                    <div class="rounded overflow-hidden shadow-lg border relative m-2 ">
                            <img src="{{item.image.url}}" class="h-40 w-full object-cover" alt="image">
                        <div class="card-body p-4">
                            <span class="font-semibold block text-slate-600 capitalize">{{item.name}}</span>
                            <span class="block text-slate-500">{{item.description}}</span>
                            <span class="font-semibold text-slate-600">{{item.price}}</span>&nbsp;<span><i class="fa-solid fa-dollar-sign"></i></span>
                            {% if item.stock > 0 %}
                                <span class="text-green-500 block"><i class="fa-solid fa-circle-check"></i>&nbsp;in stock</span>
                            {% else %}
                                <span class="text-red-500 block"><i class="fa-solid fa-triangle-exclamation"></i>&nbsp;currently out of stock</span>
                            {% endif %}
                            
                        </div>
                        <div class="bg-gray-200 p-2 rounded-full absolute top-0 shadow-lg z-20 m-2">
                            {% if item.category.name == "clothing" %}
                            <i class="fa-solid fa-shirt"></i>
                            {% elif item.category.name == "footwear" %}
                            <i class="fa-solid fa-shoe-prints"></i>
                            {% elif item.category.name == "food materials" %}
                            <i class="fa-solid fa-utensils"></i>
                            {% endif %}
                        </div>
                        
                        <div class="p-4" >
                            {% if item.stock < 0 %}
                                <button type="button" disabled class="rounded shadow-lg bg-teal-400 text-white py-1 px-2 text-lg shadow">Buy</button>
                                <button type="button" disabled class="rounded shadow-lg bg-teal-400 text-white py-1 px-2 shadow">
                                    <i class="fa-solid fa-cart-plus text-lg"></i>
                                </button>
                            {% elif item.stock > 0 %}
                                <button class="rounded shadow-lg bg-teal-500 text-white py-1 px-2 text-lg shadow">Buy</button>
                                <!-- ADD TO CART START -->
                                <button data-cart-item-id="{{item.id}}" class="add_to_cart_btn rounded shadow-lg bg-teal-500 text-white py-1 px-2 shadow">
                                    Add To Cart&nbsp;<i class="fa-solid fa-cart-plus text-lg"></i>
                                </button>
                                <!-- ADD TO CART END -->
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <!-- shopping card -->
            </div>
            <div class="flex justify-center my-5 py-3">
                {% if page_obj.has_previous %}
                    <a href="?page={{page_obj.previous_page_number}}" class="relative tooltip">
                        <i class="fa-solid fa-chevron-left rounded-full hover:text-white text-white px-2 py-1 bg-teal-500 hover:bg-teal-600 hover:shadow-md"></i>
                        <small class="tooltip-text absolute top-0 right-10 rounded bg-teal-500 text-white px-3 shadow-lg">Previous</small>
                    </a>
                {% else %}
                    <i class="fa-solid fa-chevron-left rounded-full text-black px-2 py-1 bg-gray-300"></i>
                {% endif %}
                <span class="font-bold mx-10">Page 
                    <span class="bg-slate-300 text-dark rounded-full px-2 py-1">{{page_obj.number}}</span> of 
                    <span class="bg-slate-300 text-dark rounded-full px-2 py-1">{{page_obj.paginator.num_pages}}</span>
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{page_obj.next_page_number}}" class="tooltip relative">
                        <i class="fa-solid fa-chevron-right rounded-full hover:text-white text-white px-2 py-1 bg-teal-500 hover:bg-teal-600 shadow-md hover:shadow-lg"></i>
                        <small class="tooltip-text absolute top-0 left-10 rounded bg-teal-500 text-white px-3 shadow-lg">Next</small>
                    </a>
                {% else %}
                    <i class="fa-solid fa-chevron-right rounded-full text-black px-2 py-1 bg-gray-300"></i>
                {% endif %}
            </div>      
    </div>
</div>

<script>
    const cartElement = document.querySelector('#dataForm');
    cartElement.addEventListener('click', function(e) {
        e.preventDefault();
       // console.log(e.target.classList)
       const cartItemBtn = e.target.closest('.add_to_cart_btn');
       if(!cartItemBtn) return
       //console.log(cartItemBtn.dataset.cartItemId);
       var id = cartItemBtn.dataset.cartItemId;
       console.log(id);
       const formData = new FormData();
       formData.append('itemId', id);
       formData.append('csrfmiddlewaretoken', '{{csrf_token}}');
       console.log(formData);
       fetch('{% url "store:addToCart" %}',{
        method: 'POST',
        body: formData
       }).then(response => response.json()).then(data => {
        console.log("success: ", data);
        document.getElementById("item_count").innerHTML=data.cart_item;
        document.getElementById("item_count_mobile").innerHTML = data.cart_item;
       }).catch(error =>{
        console.log(error);
       });
    });
</script>
{% endblock content %}