{% extends 'main/base.html' %}
{% load static %}
{% load humanize %}
{% block breadcrumb_li %}
<li class="current">sale</li>
{% endblock %}
{% block content %}
<div class="main-page-container sale-page">
    <div class="heading">
        <div class="heading-text ">
            <h1 class="title">Sales Portal</h1>
            <p class="text">search the product to find it</p>
        </div>
    </div>
    <div class="search-form-holder">
        <form action="" method="post" class="search-form"> 
            {% csrf_token %}
            <input
            name="search-input"
            id="search-input"
            class="search-input"
            hx-post="{% url 'store:search-products' %}"
            hx-trigger="input"
            hx-target="#search-form-container"
            hx-swap="innerHTML"
            placeholder="Search the item...">
        </form>
    </div>
    
    <div id="search-form-container"></div>
    <div class="product-holder">
        {% for item in page_obj.object_list %}
        <div class="card">
            <a href="#" class="card-link">
                <div class="image-holder">
                    <img src="{{item.image.url}}" alt="">
                </div>
                <div class="info-holder">
                    <div class="title">
                        <p class="name">{{item.name}}</p>
                        <p class="price">{{item.price}}</p>
                    </div>
                    <p class="text">{{item.description}}</p>
                </div>
            </a>
            <div class="action">
                {% if item.total_items > 0 %}
                <button 
                class="btn-sm add-item"
                data-end-point="{% url 'store:add_to_cart' item.id %}">Add</button>
                <button class="btn-sm">Buy</button>
                {% else %}
                <button class="btn-gray" disabled>Add</button>
                <button class="btn-gray" disabled>Buy</button>
                {%endif %}
            </div>
            <div class="stock-badge">
                {% if item.total_items > 0 %}
                <p class="success">In Stock: {{item.total_items}}</p>
                {% else %}
                <p class="danger">Out of Stock: {{item.stock}}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    
    <!-- paginator navigation button start -->
    <div class="paginator">
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">
            <small class="active-nav"><i class="fa-solid fa-angles-left"></i></small>
        </a>
        {% else %}
        <small class="not-active-nav"><i class="fa-solid fa-angles-left"></i></small>
        {% endif %}
        <span>Page
            <span class="active-page">{{page_obj.number}}</span> of
            <span>{{page_obj.paginator.num_pages}}</span>
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}" class="tooltip relative">
            <small class="active-nav"><i class="fa-solid fa-angles-right"></i></small>
        </a>
        {% else %}
        <small class="not-active-nav"><i class="fa-solid fa-angles-right"></i></small>
        {% endif %}
    </div>
    <!-- paginator navigation button end -->
</div>
<script src="{% static '/js/script.js' %}"></script>
<script src="{% static 'htmx.min.js' %}"></script>
{% endblock content %}