{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="sales">
    <div class="grid lg:grid-row-2 m-5">
        <div class="">
        <h1 class="text-3xl text-center">Sales Portal</h1>
        <div class="flex justify-center">
        <form action="" method="POST" class="my-5">
            {% csrf_token %}
            <input type="text" class="py-2 rounded border border-teal-400 w-96">
            <button class="rounded-full border bg-teal-500 hover:bg-teal-700 hover:text-white px-3 py-2"><i class="fa-solid fa-magnifying-glass"></i></button>
            <!-- <button class="bg-teal-500 text-white px-4 py-2 hover:font-bold hover:bg-teal-700 shadow my-3">Save</button> -->
        </form>
        </div>
        </div>
        <hr>
        <div class="mx-10 my-5">
            <div class="grid grid-cols-4 gap-4">
                <!-- shopping card -->
                <div class="card rounded shadow border">
                    <div class="grid grid-cols-3">
                        <div class="avatar border mr-2">
                            <i class="fa-solid fa-image text-5xl"></i>
                        </div>
                        <div class="details p-3 w-full col-span-2">
                            <p class="font-bold inline-block">Product Name</p>
                            <p class="text-xs">Product Description</p>
                            <p>Price</p>
                            <p class="text-green-600"><i class="fa-solid fa-check border rounded"></i>&nbsp;in stock</p>
                            <p class="text-red-500">out of stock</p>
                            <a class="bg-teal-500 text-white py-1 px-2 rounded shadow hover:bg-teal-700 hover:font-bold" href="">add to card</a>
                            <a class="bg-teal-500 text-white py-1 px-2 rounded shadow hover:bg-teal-700 hover:font-bold" href="">purchase</a>
                        </div>
                    </div>
                </div>
                <!-- shopping card -->
                <div class="card rounded shadow border">
                    <div class="grid grid-cols-3">
                        <div class="avatar border mr-2">
                            <i class="fa-solid fa-image text-5xl"></i>
                        </div>
                        <div class="details p-3 w-full col-span-2">
                            <p class="font-bold inline-block">Product Name</p>
                            <p class="text-xs">Product Description</p>
                            <p>Price</p>
                            <p class="text-green-600"><i class="fa-solid fa-check border rounded"></i>&nbsp;in stock</p>
                            <p class="text-red-500">out of stock</p>
                            <a class="bg-teal-500 text-white py-1 px-2 rounded shadow hover:bg-teal-700 hover:font-bold" href="">add to
                                card</a>
                            <a class="bg-teal-500 text-white py-1 px-2 rounded shadow hover:bg-teal-700 hover:font-bold"
                                href="">purchase</a>
                        </div>
                    </div>
                </div>

                <div class="card rounded shadow border">
                    <div class="grid grid-cols-3">
                        <div class="avatar border mr-2">
                            <i class="fa-solid fa-image text-5xl"></i>
                        </div>
                        <div class="details p-3 w-full col-span-2">
                            <p class="font-bold inline-block">Product Name</p>
                            <p class="text-xs">Product Description</p>
                            <p>Price</p>
                            <p class="text-green-600"><i class="fa-solid fa-check border rounded"></i>&nbsp;in stock</p>
                            <p class="text-red-500">out of stock</p>
                            <a class="bg-teal-500 text-white py-1 px-2 rounded shadow hover:bg-teal-700 hover:font-bold" href="">add to
                                card</a>
                            <a class="bg-teal-500 text-white py-1 px-2 rounded shadow hover:bg-teal-700 hover:font-bold"
                                href="">purchase</a>
                        </div>
                    </div>
                </div>

                <div class="card rounded shadow border">
                    <div class="grid grid-cols-3">
                        <div class="avatar border mr-2">
                            <i class="fa-solid fa-image text-5xl"></i>
                        </div>
                        <div class="details p-3 w-full col-span-2">
                            <p class="font-bold inline-block">Product Name</p>
                            <p class="text-xs">Product Description</p>
                            <p>Price</p>
                            <p class="text-green-600"><i class="fa-solid fa-check border rounded"></i>&nbsp;in stock</p>
                            <p class="text-red-500">out of stock</p>
                            <a class="bg-teal-500 text-white py-1 px-2 rounded shadow hover:bg-teal-700 hover:font-bold" href="">add to
                                card</a>
                            <a class="bg-teal-500 text-white py-1 px-2 rounded shadow hover:bg-teal-700 hover:font-bold"
                                href="">purchase</a>
                        </div>
                    </div>
                </div>
        
    </div>
</div>
{% endblock content %}