{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="tablure-page">
    <div class="table-holder" id="print-reciept">
        <div class="heading">
            <h1 class="title">{{request.user.store}}</h1>
            <p class="text">Thanks for your shoping</p>
            <p class="text"><small>Shaheed mazari road, kabul,afghanistan</small></p>
        </div>
        <table >
            <thead>
                <th>#</th>
                <th>Product Title</th>
                <th>Quantity</th>
                <th>Total price</th>
            </thead>
            <tbody>
                {% for item in sold_products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{item.product}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.total_price}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td><strong>Total Payment amount</strong></td>
                    <td colspan="3"><strong>{{grant_total}}</strong></td>
                </tr>
            </tbody>
        </table>
        <div class="button-holder">
            <button class="btn" onclick="printTable()">Print Reciept</button>
        </div>
    </div>
</div>
<script>
    function printTable(){
        const printContent = document.getElementById("print-reciept").outerHTML;
        const win = window.open('','','height=400,width=600');
        win.document.write('<html><head><title>Purchase Reciept</title>');
            win.document.write('<link rel="stylesheet" href="{% static "css/style.css" %}">');
        win.document.write('</head><body>');
        win.document.write(printContent);
        win.document.write('</body></html>');
        win.document.close();
        win.print();
    }
</script>
{% endblock content %}