{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="signup-page">
    <div class="form-holder">
        <form action="" method="POST" class="register-form">
            <div class="heading">
                <h1 class="title">Sign Up</h1>
                <p class="text">If you don't have an account please register yourself</p>
            </div>
            {% csrf_token %}
            {% for field in form %}
            <label class="form-label">{{field.label_tag}}</label>
            {{field}}
            {{field.errors}}
            {% endfor %}
            <p class="consent-text">By registering, you agree to our <a href="#" class="active-link">Terms of Use</a> and .
                <a href="#" class="active-link">Privacy Policy</a>
            </p>
            <div class="signup-button">
                <button type="submit" class="btn">Register</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}