{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="login-page">
    <div class="form-holder">
        <form action="" method="POST" class="login-form">
            <div class="heading">
                <h1 class="title">Sign In</h1>
                <p class="text">to continue to your store</p>
            </div>
            {% csrf_token %}
            <label class="form-label" for="username">Username</label>
            <input type="text" name="username" id="username" 
            class="form-input" placeholder="Username" required>
            <label class="form-label" for="password">password</label>
            <input type="password" name="password" id="password" 
            class="form-input" placeholder="Password" required>
            <p class="forgot-password active-link"><a href="{% url 'store:forgotPassword' %}">Forgot password ?</a></p>
            <p class="consent-text">
                <a class="active-link" href="">privacy policy</a> and 
                <a class="active-link" href="">terms of service.</a>
            </p>
            <div class="button-holder">
                <button type="submit" class="btn">Login</button>
            </div>
            <p class="consent-text">Don't have an accout ? let's <a class="active-link" href="{% url 'store:signup' %}">Create One</a></p>
        </form>
        
    </div>
</div>
{% endblock content %}