{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="signup">
    <div class="grid lg:grid-cols-3 sm:grid-cols-1 p-10 m-5">
        <div class="side-cols"></div>
        <div class="content-cols">
            <h1 class="text-3xl text-center">Sign Up</h1>
            <p class="text-center mt-2">If you don't have an account please register yourself</p>
            <form action="" method="POST" class="my-5">
                {% csrf_token %}
                {{form.as_div}}
                <button class="bg-teal-500 text-white px-5 py-2 hover:font-bold hover:bg-teal-700 shadow mt-8">Save</button>
            </form>
        </div>
        <div class="end-cols"></div>
        
        
    </div>
</div>
{% endblock content %}