{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="login">
        <div class="grid grid-cols-3">
        <div class="side"></div>
        <div class="main px-10 my-20">
        <form action="" method="POST" class="p-10 border border-gray-300 rounded-lg ">
            <h1 class="text-4xl text-center mt-5 mb-10">Sign In</h1>
            {% csrf_token %}
            <p class="text-center">to continue to your store</p>
            <label class="" for="username">Username</label>
            <input type="text" name="username" id="username" class="mb-4 border p-2 border-teal-500 w-full" placeholder="Username" required>
            <label class="" for="password">password</label>
            <input type="password" name="password" id="password" class="border p-2 border-teal-500 w-full" placeholder="Password" required>
            <p class="text-sky-400 font-semibold hover:text-sky-600"><a href="">Forgot password ?</a></p>
            <p class="my-5">To continue, the system will not share your details information with other stakeholders.
            Before Using this app you can review the E-commerce's 
            <a class="text-sky-500 font-semibold" href="">privacy policy</a> and 
            <a class="text-sky-500 font-semibold" href="">terms of service.</a>
            </p>
            <div class="">
                <p class="text-sky-400 font-semibold hover:text-sky-600 inline-block mr-10"><a href="{% url 'store:signup' %}">Create account</a></p>
                <button class="bg-teal-500 text-white px-4 py-2 hover:font-bold hover:bg-teal-700 shadow mt-3 mb-5 ml-10">Log in</button>
            </div>
        </form>
        </div>
        <div class="side-right"></div>
        </div>
</div>
{% endblock content %}