{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="main-page">
    <div class="heading">
        <h1 class="title">Stock Management</h1>
        <p class="text">Manage stock and observe the products</p>
    </div>
    
    <div class="detail-container">
        <div class="statistics-container">
            <div class="product-statistics">
                <div class="products">
                    <h4 class="title">Active Products</h4>
                    <p class="text">894,375</p>
                </div>
                <div class="products">
                    <h4 class="title">Winning Products</h4>
                    <p class="text">8 Seater</p>
                </div>
                <div class="products">
                    <h4 class="title">Average Performance</h4>
                    <p class="text">Good</p>
                </div>
                <div class="products">
                    <h4 class="title">Product Sold</h4>
                    <p class="text">98,253</p>
                </div>
            </div>
            <div class="product-statistics canvas-holder">
                <canvas height="50px" id="myChart"></canvas>
            </div>
        </div>
        <table class="table">
            <thead>
                <th>#</th>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product Category</th>
                <th>Product Packet</th>
                <th>Product Rate</th>
                <th>Product Price</th>
                <th>Product profit</th>
                <th>Product stock</th>
                <th>Manufacturing Date</th>
                <th>Expiration Date</th>
            </thead>
            <tbody>
                
                {% for item in page_obj.object_list %}
                <tr>
                    {% if item.image %}
                        <td><img src="{{item.image.url}}" alt="image" width="24px" height="24px"></td>
                    {% elif not item.image %}
                        <td><img src="media/item_images/default.png" width="24px" height="24px"></td>
                    {% endif %}
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.category}}</td>
                    <td>{{item.packet}}</td>
                    <td>{{item.rate}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.profit}}</td>
                    <td>{{item.stock}}</td>
                    <td>{{item.mfd}}</td>
                    <td>{{item.expd}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- paginator navigation button start -->
        <div class="paginator">
            {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">
                <small class="active-nav"><i class="fa-solid fa-angles-left"></i></small>
            </a>
            {% else %}
            <small class="not-active-nav"><i class="fa-solid fa-angles-left"></i></small>
            {% endif %}
            <span>Page
                <span class="active-page">{{page_obj.number}}</span> of
                <span>{{page_obj.paginator.num_pages}}</span>
            </span>
            {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}" class="tooltip relative">
                <small class="active-nav"><i class="fa-solid fa-angles-right"></i></small>
            </a>
            {% else %}
            <small class="not-active-nav"><i class="fa-solid fa-angles-right"></i></small>
            {% endif %}
        </div>
        <!-- paginator navigation button end -->
    </div>
</div>

  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>
  <script>
    const ctx = document.getElementById('myChart');
    
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{sold_product|safe}},
        datasets: [{
          label: 'Products Sales Statistics',
          data: {{sold_quantity|safe}},
          borderWidth: 2,
          tension: 0.4,
          borderColor:'#a52824',
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
{% endblock content %}